@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-transition {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.translate-x-full {
  transform: translateX(100%);
}
.translate-x-0 {
  transform: translateX(0);
}
.opacity-0 {
  opacity: 0;
}
.opacity-100 {
  opacity: 1;
}

/* Navbar Styles */
.navbar {
  @apply w-full h-20 sticky top-0 bg-gray-100 shadow z-50;
}

.navbar-container {
  @apply container mx-auto flex justify-between items-center h-full px-4;
}

.navbar-logo {
  @apply flex items-center;
}

.navbar-logo img {
  @apply size-24 lg:size-32;
}

.navbar-hamburger {
  @apply md:hidden;
}

.navbar-hamburger button {
  @apply focus:outline-none;
}

.navbar-hamburger svg {
  @apply w-6 h-6;
}

.navbar-links {
  @apply hidden md:flex space-x-8;
}

.navbar-link {
  @apply text-base font-medium text-gray-800 hover:text-gray-600;
}

.mobile-menu {
  @apply md:hidden;
}

.mobile-menu nav {
  @apply flex flex-col space-y-2 p-4 bg-gray-100 hidden;
}
